version: '3.4'

services:
  algs1:
    image: algs1
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8017:8017
    environment:
      HOST_NAME: ${HOST_NAME}
      DJANGO_MODE: ${DJANGO_MODE}
